.header {
  padding: 1rem 0;
  align-items: center;
}

.header h3 a {
  color: #ffffff;
}

.header h3 a:hover {
  text-decoration: none;
}

.header ul {
  list-style: none;
  margin-left: 3rem;
}

.header ul li {
  padding-left: 2rem;
  padding-right: 2rem;
}

.header ul li a.active {
  color: #ffffff;
}

.header ul li a:hover {
  text-decoration: none;
  color: #d5d5d5;
}