.error-indicator {
  width: 100%;
  align-items: center;
  flex-direction: column;
  color: #c78f22;
}

.error-indicator img {
  margin-bottom: 1rem;
}

.error-indicator .boom {
  font-size: 1.3rem;
}